<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Title</title>
</head>
<body>
<form>
    <input type="text" name="category" placeholder="Введите логин"/>
    <input type="text" name="surname" placeholder="Введите фамилию"/>
    <input type="text" name="mail" placeholder="Введите почту"/>
    <input type="text" name="password" placeholder="Введите пароль"/>
    <button type="submit">добавить</button>
</form>
<script src="/functionForVariation.js"></script>
</body>
</html>